*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#contenedor{
    display: flex;
    gap: 20px;   
    align-items: center;
    justify-content: center;
}
.stickers{
    display: flex;
    flex-direction: column;
}
#funcionalidad{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
img{
    width: 200px;
}